<!--The content below is only a placeholder and can be replaced.-->
<div class="container classKevin">
  <div class="jumbotron">
    <h1 class="display-5 text-center">Reto Financiera OH!</h1>
  </div>
</div>
<div class="container ">
  <div class="contentRegistro">
    <fieldset>
      <legend>INGRESO DE DATOS PARA CREACION DE CLIENTE</legend>
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-md-6 col-sm-12">
          <label for="txtNombre" >NOMBRE</label>
          <input type="text" placeholder="Ingresar Nombre . ."  [(ngModel)]="objPersona.nombre" class="form-control" id="txtNombre">
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <label for="txtApellido" >APELLIDO</label>
          <input type="text" placeholder="Ingresar Apellido . ." [(ngModel)]="objPersona.apellido" class="form-control" id="txtApellido" maxlength="10">
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <label for="txtEdad" >EDAD</label>
          <input type="number" placeholder="Ingresar Edad . ." [(ngModel)]="objPersona.edad" class="form-control" id="txtEdad">
        </div>

        <div class="col-lg-3 col-md-6" col-sm-12>
          <label for="txtFechaNac">FECHA DE NACIMIENTO</label>
          <input type="date" [(ngModel)]="objPersona.fechaNacimiento" class="form-control" id="txtFechaNac">
        </div>
      </div>

      <div class="row contentbutton">
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-block" (click)="savePersonal()">Registrar</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-info btn-block" (click)="clearObjPersonal()">Cancelar</button>
        </div>
      </div>
      <br>
      <div class="text-center" *ngIf="loader">
          <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Guardando ...</span>
            </div>
      </div>
  
    </fieldset>
  </div>
</div>
<button (click)='getPdf()'>
  GET PDF
</button>
<ul>
  <li *ngFor='let item of listPerson'>
    {{item.nombre}}
  </li>
</ul>
<router-outlet></router-outlet>